$homePageBg: #FFd6d4;
$displayBoxBg: rgb(132, 164, 198);
$generateBoxBg: rgb(117, 145, 176);
$entryBoxBg: rgb(132, 164, 198);

$upColor: aqua;
$downColor: red;

$fontLight: #fAf4f0;
$fontDark: #69595c;
$pinkDark: #FEB8C5;