@import '_vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

body {
  background: $homePageBg;
  text-align: center;
  margin: 0;
  font-size: 4vw;
  color: $fontDark;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
h1 {
  font-size: 30px;
}

h3 {
  font-size: 17px;
  font-weight: 600;
}

p {
  font-size: 14px;
}

#linkAddBar {
  display: flex;
  justify-content: center;
}
.linkEntryField {
  width: 400px;
}

.entry-box {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 0px 40px;
}

.link-bubble {
  background-color: #E5E5E5;
  border-radius: 10px;
  padding: 5px;
  margin:  3px 0px;
}

.link {
  width: 800px;
  margin-left: 20px;
}

.label {
  width: 200px;
}

.output-container {
  width: 500px;
  margin: auto;
}

#gen-box {
  border: 1px black;
 
  margin: 20px;
}

.display-box {
  background: #A5CBC6;
  margin: 7px;
  padding: 10px;
  border-radius: 10px;
}

.display-box button {
  margin-top: 4px;
  background-color: #E5E5E5;
  margin-left: 20px;
  padding: 0 20px;
  height: 27px;
}

#generatedLink {
  margin-top: 30px;
  font-size: 35px;
}
#generatedLink:hover {
  font-weight: 200;
  cursor: pointer;
}

button {
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  margin: 0 20px;
  height: 57px;
}

button:hover {
  background-color: #cfe9e6;
}

.copiedBanner {
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #A5CBC6;
  padding: 5px 0;
  opacity: 1;
  display: none;
  transition: opacity 0.3s linear;
}

.diplayLinkGroup {
  width: 800px;
  // border: 1px solid blue;
  margin: auto;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}
.displayLabel {
  width: 200px;
  text-align: right;
  margin-right: 20px;
}
.displayLink {
  width: 550px;
  text-align: left;
  font-weight: 600;
  
}
.jiggly {
  width: 50px;
  height: 50px;
  background-image: url('https://assets.stickpng.com/images/585961604f6ae202fedf285a.png');
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 50%;
}