@import '_vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

body {
  background: $homePageBg;
  text-align: center;
  margin: 0;
  font-size: 4vw;
  color: $fontDark;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

#gen-box {
  border: 1px black;
  background: blue;
  margin: 20px;
}

.display-box {

  background: #A5CBC6;
  margin: 10px;
  
}